* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

main {
  display: block;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

input,
select {
  -webkit-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
}

a,
a:focus,
button,
button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  background-color: #C4C4C4;
  color: #ffffff;
  width: 150px;
  height: 50px;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: url("../fonts/Roboto/Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Regular/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

html {
  height: 100%;
}

body {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  height: 100%;
  font-weight: 400;
}

input {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding: 15px 0;
  background-color: transparent;
  width: 100%;
}

b,
strong {
  font-weight: 700;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.stop-scroll {
  overflow: hidden;
  height: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visibility .3s;
  -o-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}

.popup.show {
  visibility: visible;
  opacity: 1;
}

@-webkit-keyframes burgerOneShow {
  0% {
    top: 10px;
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 10px;
  }

  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
}

@keyframes burgerOneShow {
  0% {
    top: 10px;
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 10px;
  }

  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
}

@-webkit-keyframes burgerOneShowMobile {
  0% {
    top: 12px;
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 18px;
  }

  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 18px;
  }
}

@keyframes burgerOneShowMobile {
  0% {
    top: 12px;
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 18px;
  }

  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 18px;
  }
}

@-webkit-keyframes burgerOneHide {
  0% {
    top: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 3px;
  }

  100% {
    top: 3px;
  }
}

@keyframes burgerOneHide {
  0% {
    top: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 3px;
  }

  100% {
    top: 3px;
  }
}

@-webkit-keyframes burgerOneHideMobile {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 22px;
  }

  100% {
    top: 12px;
  }
}

@keyframes burgerOneHideMobile {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 22px;
  }

  100% {
    top: 12px;
  }
}

@-webkit-keyframes burgerThreeShow {
  0% {
    top: 10px;
  }

  50% {
    top: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 10px;
  }
}

@keyframes burgerThreeShow {
  0% {
    top: 10px;
  }

  50% {
    top: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 10px;
  }
}

@-webkit-keyframes burgerThreeShowMobile {
  0% {
    top: 28px;
  }

  50% {
    top: 18px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 18px;
  }
}

@keyframes burgerThreeShowMobile {
  0% {
    top: 28px;
  }

  50% {
    top: 18px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 18px;
  }
}

@-webkit-keyframes burgerThreeHide {
  0% {
    bottom: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    bottom: 3px;
  }

  100% {
    bottom: 3px;
  }
}

@keyframes burgerThreeHide {
  0% {
    bottom: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    bottom: 3px;
  }

  100% {
    bottom: 3px;
  }
}

@-webkit-keyframes burgerThreeHideMobile {
  0% {
    top: 18px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 18px;
  }

  100% {
    top: 28px;
  }
}

@keyframes burgerThreeHideMobile {
  0% {
    top: 18px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 18px;
  }

  100% {
    top: 28px;
  }
}

@-webkit-keyframes showRightOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showRightOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes hideRightOpacity {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes hideRightOpacity {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@-webkit-keyframes rotateCircle {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes animV5 {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
}

@keyframes animV5 {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
}

@-webkit-keyframes animV5Active {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animV5Active {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes showElemAndHide {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showElemAndHide {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes growWidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes growWidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 40px 0;
}

.header_logo__wrap {
  max-width: 384px;
}

.header_logo__wrap p {
  font-family: 'PT Serif', serif;
  color: #888888;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  margin-top: -10px;
  text-align: right;
}

.header .hr {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-bottom: -22px;
}

.header_nav {
  margin-top: 20px;
}

.header_nav .burger {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0;
  margin: 20px;
}

.header_nav .burger-item {
  position: absolute;
  width: 40px;
  height: 4px;
  left: 0;
  background-color: #000;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header_nav .burger-item:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_nav .burger-item:nth-child(3) {
  bottom: 0;
}

.header_nav .burger.show {
  z-index: 100;
}

.header_nav .burger.show .burger-item:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  width: 50px;
}

.header_nav .burger.show .burger-item:nth-child(2) {
  opacity: 0;
}

.header_nav .burger.show .burger-item:nth-child(3) {
  width: 50px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.header_nav .wrapper {
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_nav .wrapper.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  height: 100vh;
  z-index: 50;
}

.header_nav .wrapper__links {
  width: 300px;
  height: 100px;
  border: 1px solid #C4C4C4;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #888888;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header_nav .wrapper__links a {
  display: block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search {
  padding: 60px 0;
}

.search_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.search_text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #888888;
  word-spacing: 10px;
}

.search_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.search_search input {
  border: 1px solid #C4C4C4;
  height: 30px;
  width: 431px;
  padding-left: 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.search_search .btn_main .btn {
  width: 121px;
  height: 62px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.search_search .btn_main .btn:hover {
  background-color: #7E75A2;
}

.search_search .btn_main .btn span {
  font-size: 24px;
}

.search_search .btn_main .btn img {
  margin-bottom: 8px;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 100px;
}

.footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_info__title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  font-family: 'PT Serif', serif;
}

.footer_info .managers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 300px;
}

.footer_info .managers_1 img {
  margin: 22px auto;
}

.footer_info .managers_1 p {
  max-width: 60px;
  text-align: center;
  margin: 0 auto 43px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.footer_info .managers_1 a {
  display: block;
  background-color: #C4C4C4;
  color: #ffffff;
  width: 120px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  margin: 0 auto;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
}

.footer_info .managers_1 a:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #7E75A2;
}

.footer_info__blog-list {
  margin-top: 47px;
}

.footer_info__blog-list .items {
  margin-bottom: 14px;
}

.footer_info__blog-list .items a {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.footer_info__blog-list .items a:hover {
  color: #7E75A2;
}

.footer_info__blog-list .items span {
  margin-left: 37px;
}

.footer_info__feedback .feedback {
  margin: 48px 0 16px 0;
}

.footer_info__feedback p {
  max-width: 300px;
  margin-bottom: 16px;
}

.footer_info__feedback a {
  display: block;
  background-color: #C4C4C4;
  color: #ffffff;
  width: 120px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  margin: 0 auto;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
}

.footer_info__feedback a:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #7E75A2;
}

.footer_feedback {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer_feedback__links .items {
  margin-bottom: 10px;
}

.footer_feedback__links .items a {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.footer_feedback__links .items a:hover {
  color: #7E75A2;
}

.footer_feedback__input {
  margin-left: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer_feedback__input P {
  max-width: 80px;
  margin-right: 10px;
  color: #888888;
}

.footer_feedback__input .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer_feedback__input .input input {
  background-color: #FFFFFF;
  width: 500px;
  padding-left: 15px;
  margin-left: 15px;
}

.footer_feedback__input .input .btn_main .btn {
  width: 150px;
  height: 52px;
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.footer_feedback__input .input .btn_main .btn:hover {
  background-color: #7E75A2;
}

.footer_logo {
  margin-top: 70px;
  background-color: #FFFFFF;
  text-align: center;
  padding-bottom: 20px;
}

.footer_logo__wrap {
  max-width: 380px;
  margin: 0 auto;
}

.footer_logo__wrap p {
  color: #888888;
  text-align: right;
  margin-top: -10px;
  margin-right: 10px;
}

.hause {
  background-image: url(../../img/house/house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 50px;
}

.hause_block {
  margin-left: auto;
  text-align: right;
  max-width: 370px;
}

.hause_block__text {
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: 'PT Serif', serif;
  margin-bottom: 14px;
}

.hause_block a {
  display: block;
  background-color: #000;
  color: #ffffff;
  width: 150px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  margin: 0 auto;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
}

.hause_block a:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #E1BF9A;
  color: #000;
}

.option {
  padding-top: 15px;
}

.option_title {
  background-color: #000000;
  font-family: 'PT Serif', serif;
  height: 100px;
  width: 100%;
  padding: 20px 0;
}

.option_title h1 {
  color: #FFFFFF;
  font-size: 48px;
  line-height: 63px;
  font-weight: 400;
  text-align: center;
}

.option_wrap__choice {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.option_wrap__content {
  text-align: center;
  max-width: 280px;
}

.option_wrap__content img {
  margin-bottom: 30px;
}

.option_wrap__content p {
  font-size: 24px;
  line-height: 24px 400;
  font-weight: 400;
  color: #888888;
  margin-bottom: 34px;
}

.option_wrap__content a {
  display: block;
  background-color: #C4C4C4;
  color: #ffffff;
  width: 150px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  margin: 0 auto;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.option_wrap__content a:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #7E75A2;
}

.why {
  padding: 50px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.why_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}

.why_wrap img {
  margin-right: 33px;
}

.why_time,
.why_best {
  margin-right: 113px;
}

.why_time__title,
.why_best__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: 'PT Serif', serif;
  margin-bottom: 20px;
}

.why_time__title p,
.why_best__title p {
  margin-bottom: 40px;
}

.why_time__title-info,
.why_best__title-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 15px auto;
}

.why_time__title-info img,
.why_best__title-info img {
  margin-right: 10px;
}

.why_time__title-info a,
.why_best__title-info a {
  text-decoration: underline;
  color: #888888;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }

  .container {
    max-width: 576px;
  }
}

@media (min-width: 799px) {
  .header_nav .wrapper__links:hover {
    color: #FFFFFF;
    background-color: #000;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 799px;
  }

  .container {
    max-width: 799px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 920px;
  }

  .container {
    max-width: 920px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1200px;
  }

  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1200px;
  }

  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1402px) {
  .option_wrap__choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .option_wrap__content {
    margin: 20px 130px;
  }
}

@media (max-width: 1400px) {
  .option_wrap__content p {
    font-size: 28px;
    line-height: 28px 400;
    font-weight: 400;
    margin-bottom: 28px;
  }

  .option_wrap__content {
    margin-bottom: 20px;
  }

  .why_time,
  .why_best {
    margin-right: 60px;
  }

  .why_time__title img,
  .why_best__title img {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  .why_time__title,
  .why_best__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
  }
}

@media (max-width: 1200px) {
  .footer_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer_info__blog {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 50px;
  }

  .footer_feedback {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer_feedback__input .input input {
    width: 300px;
  }

  .option_wrap__choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px 5%;
    padding-top: 60px;
  }

  .option_wrap__content {
    margin: 20px 30px;
  }

  .option_wrap__content p {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .header_nav .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .search_text {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    word-spacing: 5px;
  }

  .search_search input {
    width: 331px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  .search_search .btn_main .btn {
    width: 110px;
  }

  .search_search .btn_main .btn span {
    font-size: 20px;
  }

  .search_search .btn_main .btn img {
    margin-left: 10px;
  }

  .footer_feedback {
    margin-top: 50px;
  }

  .footer_feedback__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px auto;
  }

  .footer_feedback__links .items {
    margin: 0 20px;
  }

  .footer_feedback__input {
    margin: 0 auto;
  }

  .why {
    padding: 100px 0;
  }

  .why_wrap img {
    margin-right: 25px;
  }

  .why_time,
  .why_best {
    margin-right: 40px;
  }

  .why_time__title,
  .why_best__title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
  }
}

@media (max-width: 920px) {
  .option_wrap__choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px 30px;
    padding-top: 40px;
  }
}

@media (max-width: 799px) {
  .header_nav .burger {
    display: block;
  }

  .header_nav .wrapper {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: 0;
    padding-top: 100px;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .header_nav .wrapper__links {
    border: none;
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
    margin-bottom: 40px;
    font-size: 28px;
  }

  .search_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .search_text {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
  }

  .search_search input {
    width: 431px;
  }

  .footer_info__feedback {
    margin-top: 50px;
  }

  .footer_feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }

  .footer_feedback__links .items {
    margin: 0 10px;
  }

  .footer_feedback__input .input .btn_main .btn {
    width: 100px;
  }

  .option_title h1 {
    font-size: 36px;
    line-height: 20px;
    font-weight: 400;
    padding: 16px 0;
  }

  .option_wrap__choice {
    padding-top: 20px;
  }

  .option_wrap__content p {
    margin-bottom: 15px;
  }

  .why {
    padding: 40px 0;
  }

  .why_wrap img {
    margin-right: 10px;
  }

  .why_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px 30px;
  }

  .why_time,
  .why_best {
    margin: 10px;
  }

  .why_time__title img,
  .why_best__title img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 70px;
  }

  .why_time__title,
  .why_best__title {
    font-size: 20px;
    line-height: 16px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 90px;
  }

  .why_time__title p,
  .why_best__title p {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }
}

@media (max-width: 576px) {
  .header_logo__wrap img {
    width: 250px;
  }

  .header_logo__wrap p {
    font-size: 14px;
    line-height: 10px;
    font-weight: 400;
  }

  .search {
    padding: 20px 0;
  }

  .search_search {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .search_search .btn_main .btn {
    width: 70px;
  }

  .footer_info__blog-list .items {
    width: 100%;
  }

  .footer_info__blog-list .items {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }

  .footer_info__blog-list .items span {
    margin-left: 10px;
  }

  .footer_info__blog-list .items span {
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
    margin-left: 5px;
  }

  .footer_info__blog-list .items img {
    height: 20px;
  }

  .footer_feedback {
    margin-top: 10px;
  }

  .footer_feedback__links .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 30%;
    font-size: 24px;
  }

  .footer_feedback__input P {
    display: none;
  }

  .footer_feedback__input .input input {
    width: 70%;
  }

  .footer_feedback__input .input .btn_main .btn {
    width: 70px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }

  .footer_logo {
    width: 100%;
  }

  .footer_logo__wrap img {
    width: 250px;
  }

  .footer_logo__wrap p {
    font-size: 14px;
    line-height: 10px;
    font-weight: 400;
  }

  .option_title h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    padding: 6px 0;
  }

  .why_time__title h3,
  .why_best__title h3 {
    width: auto;
  }

  .why_time__title,
  .why_best__title {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .why_time__title-info,
  .why_best__title-info {
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  .footer_info__blog-list .items span {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin-left: 5px;
  }
}